input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-img {
  object-fit: contain;
}

.product-grid {
  height: 140px;
  width: 100%;
}
